<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create</title>
</head>
<body>
 <div style="border: solid 2px; margin-left: 400px; padding: 5px; justify-content: center; width: 400px; background-color:beige;">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">auther Name:</label>
          <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
<br>
<br>
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">created_at</label>
          <input type="date" name="birthdate"  class="form-control" id="exampleInputPassword1">
        </div>
 <br>
 <br>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">image</label>
          <input type="file" name="image"  class="form-control" id="exampleInputPassword1">
        </div>
        <br>
<br>

        <button type="submit" class="btn btn-primary">Create</button>
      </form>
 </div>
    
</body>
</html>